* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}
/* Is this the footer background color: #01242d */

/*
The mobile view should work on ancient browsers.

https://caniuse.com/html5semantic:
    Partial support refers to missing the default styling, as technically the elements are considered "unknown".
    This is easily taken care of by manually setting the default display value for each tag.
*/

html {
    /* ---- Open Props normalize.css ---- */

    block-size: 100%;

    /* font-family: var(--font-sans);
    line-height: var(--font-lineheight-3); */

    /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
    -webkit-text-size-adjust: none;

    /* END Open Props */

    font-family: "Open Sans";
    font-weight: 400;
}

body {
    /* TODO For dev only. Do something better.  */
    /* width: 375px; */
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;

    /* resolve a problem with webkit; see <a> elements in body footer */
    color: inherit;
}

ul, ol {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, p, a {
    text-align: center;
}


:root {



    /* ==== Props ==== */


    /* ## Layout */

    /* The designs were created to the following widths: */

    --size-mobile: 375px;
    --size-desktop: 1440px;

    /* left and right gutter (left margin) */
    --size-gutter: 88px;

    /* help keep article header background under body header */
    /* ? by eye */
    --size-body-header-height: 150px;
    /* ## Colors */

    /* ### Primary */

    --color-action: hsl(322, 100%, 66%);
    --color-action-active: hsl(322, 100%, 80%);

    /* ### Neutral */

    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);

    /* ## Typography */

    /* ### Body Copy */

    --font-size: 18px;

    /* ### Headings */

    /* TODO */
    /* - Family: [Poppins](https://fonts.google.com/specimen/Poppins) */
    /* --font-weight: 600; */

    /* ### Body, Call-to-actions */

    /* TODO */
    /* - Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans) */
    /* - Weights: 400, 700 */

    /* ## Icons */
    /* TODO */
    /* For the social icons, you can use a font icon library. Some suggestions can be found below:

    - [Font Awesome](https://fontawesome.com/)
    - [IcoMoon](https://icomoon.io/)
    - [Ionicons](https://ionicons.com/) */
}

/* @layer typography { */

:root {
    font-family: "Open Sans";
    font-weight: 400;
}

h1, h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    /* ? By eye */
    color: #444;
}

h1 {
    /* By eye */
    font-size: 1.6rem;
}

h2 {
    font-size: 1.3rem;
}

section:last-of-type h2 {
    font-size: 30px;
}

section p {
    margin: 30px auto 0px auto;
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    color: #999;
}

/* ==== LAYOUT - MOBILE ==== */

/* @layer layout { */



/* ==== BODY HEADER ==== */
body {
    /* ? What are the consequences?
    Needed for the width:100% and  position:absolute; on the body header. */
    position: relative;
}

body>header {
    position: absolute;
    width: 100%;

    /* height: var(--size-body-header-height); */
    /* padding: 0px var(--size-gutter); */
    padding: 40px 20px;


}

body>header a {
    /* display: block; */
    /* padding-top: 40px; */
}

/* boyd>header img {
    display: block;
    width: 104px;
} */

body>header a:first-of-type {
    /* Allows the width property. */
    display: inline-block;
    /* Measure mockup */
    width: 104px;
    /* Vertical center image and button; nudge image down by eye */
    margin-top: .3rem;
}

body>header a:last-of-type {
    /* by eye */
    font-size: .6rem;
    font-weight: 700;
    /* display: block; */
    float: right;
    padding: 6px 23px;
    border-radius: 20px;
    /* ? */
    background-color: white;
}

/* END BODY HEADER */

article {
    /* margin-top: calc(var(--size-body-header-height) * -1); */
}



article>header {
    /* Nudge the heading down; by eye */
    /* ? */
    padding-top: 140px;
    /* background-color: #efefef; */

    padding-bottom: 70px;

    /* --very-dark-cyan: hsl(192, 100%, 9%); */
    color: #00252e;

    /* background-color: var(--very-pale-cyan); */
    background-color: #ebfbff;
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

article>header p {
    width: 80%;
    margin: 22px auto 0px auto;
}

article a {

    /* Old school fit-content */
    /* https://stackoverflow.com/questions/7839164/is-there-a-css-cross-browser-value-for-width-moz-fit-content */
    display: table;

    margin: 32px auto 0px auto;
    padding: 12px 55px;
    border-radius: 80px;
    /* by eye */
    font-size: .8rem;
    font-weight: 400;

    /* TODO */
    /* very-pale-cyan */
    color: #ebfbff;
    /* color-action */
    background-color: #ff52bf;
}

article img {
    width: 80%;
    margin: 40px auto 0px auto;
}

section {
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 20px;
    margin-top: 40px;
    /* Push the image down with padding because a margin on the top of the image collapses. */
    padding-top: 40px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 15px #ddd8;
}

section:first-of-type {
    margin-top: 160px;
}

section img {
    margin: 40px auto;
}

section:last-of-type {
    /* Place this section, overlaid, on top of the footer. This one line does the job. */
    position: relative;

    width:60%;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 15px;

    /* TODO */
    background-color: white;
}

section:last-of-type h2 {
    padding: 0px;
    font-size: 1.1rem;
}

/* ==== FOOTER ==== */

body>footer {

    margin-top: -80px;
    padding: 137px 10% 100px 10%;

    text-align: left;

    /* TODO Use these colors from the body and inherit */
    /* --very-pale-cyan */
    color: #ebfbff;
    /* --very-dark-cyan */
    background-color: #00252e;
}

body>footer>a {
    display: block;

    /* measured */
    width: 166px;
}

body>footer>p {

    /* measured */
    margin-top: 30px;

    /* align text with text in logo by eye */
    /* match:5680 */
    padding-left: 36px;

    text-align: left;
}

body>footer>p>svg {
    position: absolute;

    /* match:5680 */
    margin-left: -36px;
}

body>footer nav{
    /* measured */
    margin-top: 56px;
}

body>footer li{
    display: inline;
    /* measured */
    margin-top: 30px;
}

body>footer a>svg{
    width: 20px;
}

/* Internal Links */
body>footer nav:first-of-type li {
    display: block;
}

/* Social */
body>footer nav:last-of-type {

    /* Center the social logos */
    display: table;
    margin-left: auto;
    margin-right: auto;
}

body>footer nav:last-of-type svg {
    /* ? Why is there a space under the circle?
    Give the nav a background color to see the space.
    */

    /* Space between logos by eye */
    margin: 0px 5px;
    padding: 3px;
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 50%;
    /* ? */
    color: inherit;
}

/* End of Social */

/* Copyright */
body>footer p:last-of-type {
    padding: 0px;
    text-align: center;
    font-size: .7rem;
}